---
import papers from '../../list/smart-grid-papers.json';
import externalPapers from '../../list/external-papers.json';
import Layout from '../../layouts/Layout.astro';
import ColumnListPaper from '../../components/ColumnListPaper.astro';
---

<Layout>
    <section id="smart-grids-papers" class="core-papers-section">
        <h2>Smart Grids Lab Papers</h2>

        <ColumnListPaper items={papers} />
    </section>

    <section id="external-papers-list">
        <h3>External Papers</h3>

        <ColumnListPaper items={externalPapers} />
    </section>
</Layout>

<style>
    section {
        height: auto;
        padding: 120px 120px 60px 120px;
    }

    #external-papers-list {
        padding-top: 0;
    }

    @media (max-width: 768px) {
        section {
            padding: 0 30px 40px 30px;
        }

        .core-papers-section {
            padding-top: 80px;
        }
    }
</style>