---
import papers from '../../list/use-gboml-papers.json';
import core_papers from '../../list/core-gboml-papers.json';
import Layout from '../../layouts/Layout.astro';
import ColumnListPaper from '../../components/ColumnListPaper.astro';
---

<Layout>
    <section id="use-gboml-papers" class="core-papers-section">
        <h2>Papers using GBOML</h2>

        <ColumnListPaper items={papers} />
    </section>

    <section id="core-gboml-papers" class="core-papers-section">
        <h2>Core GBOML Papers</h2>

        <ColumnListPaper items={core_papers} />
    </section>
</Layout>

<style>
    section {
        height: auto;
        min-height: auto;
        padding: 120px 120px 60px 120px;
    }

    #core-gboml-papers {
        padding-top: 0;
    }

    @media (max-width: 1024px) {
        section {
            padding: 0 30px 40px 30px;
        }

        .core-papers-section {
            padding-top: 80px;
        }
    }
</style>